<section>
  <h1>Dashboard</h1>
  
  <div id="header">
    <h2>Account info</h2>
    <p>Net worth: <%= number_to_currency @account.net_worth %></p>
  </div>
  
  <div>
    <%= link_to 'Portfolios', [:portfolios] %>
  </div>
  
  <hr>
  
  <div>
    <h3>Account assets</h3>
    
    <table>
      <thead>
        <tr>
          <th>Asset</th>
          <th>Rate</th>
          <th>Balance</th>
          <th>USD</th>
          <th>%</th>
        </tr>
      </thead>
      <tbody>
        <% @account.assets.each_pair do |coin, amount| %>
          <tr>
            <td><%= coin.ticker %></td>
            <td><%= number_to_currency coin.rate.round 2 %></td>
            <td><%= amount %></td>
            <td><%= asset_value coin, amount %></td>
            <td><%= asset_percentage coin, amount, @account.net_worth %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>