<%= link_to [:edit, holding] do %>
  <div class="grid grid-cols-3 gap-y-5 items-center">
    <div class="p-1 flex flex-row gap-2 items-center">
      <div>
        <img src="<%= holding.coin.icon %>%>"
            alt="<%= holding.coin.api_id %>%>_icon"
            width="30">
      </div>
      <div>
        <p class="font-semibold text-base">
          <%= holding.ticker %>
        </p>
        <p class="text-sm">
          <%= number_to_currency holding.rate.round(2) %>
        </p>
        <p class="text-xs">
          <%= number_to_percentage holding.price_change, precision: 2 %>
        </p>
      </div>
    </div>

    <div class="p-1">
      <p>
        <%= number_to_currency holding.value.round(2) %>
      </p>
      <p  class="text-xs">
        <%= holding.amount.round 5 %>
      </p>
    </div>
    <div class="p-1">
      <%= number_to_percentage holding.proportion,
                               precision: 2 %>
    </div>
  </div>
<% end %>