<%= link_to [:edit, holding] do %>
  <div data-controller="holdings"
       data-holdings-change-value="<%= holding.price_change %>"
       class="p-2 grid grid-cols-5 items-start hover:shadow-md hover:bg-slate-200">
    <div class="col-span-2 p-1 flex flex-row gap-3 items-baseline">
      <div class="self-center">
        <img src="<%= holding.coin.icon %>"
             alt="<%= holding.coin.api_id %>_icon"
             class="bg-slate-50 rounded-full size-9 shadow-md">
      </div>
      
      <div class="flex flex-col flex-1">
        <div class="text-lg font-semibold">
          <%= holding.ticker %>
        </div>
        
        <div class="text-xs text-slate-600">
          <%= number_to_currency holding.rate.round(2) %>
        </div>
        
        <div data-holdings-target="priceChange"
             class="text-xs">
          <%= number_to_percentage holding.price_change, 
                                   precision: 2 %>
        </div>
      </div>
    </div>

    <div class="p-1 col-span-2 ps-6">
      <div class="text-lg font-bold text-green-800">
        <%= number_format holding.value %>
      </div>
      
      <div class="text-xs text-slate-600">
        <%= holding.amount.round 5 %>
      </div>
    </div>
    
    <div class="p-1 text-lg text-slate-600 font-semibold text-end">
      <%= number_to_percentage holding.proportion,
                               precision: 2 %>
    </div>
  </div>
  
  <hr>
<% end %>