<tr>
  <td class="p-1">
    <img src="<%= holding.coin.icon %>%>" 
         alt="<%= holding.coin.api_id %>%>_icon"
         width="25">
    <%= holding.ticker %>
    <%= number_to_currency holding.rate.round(2) %>
    <%= number_to_percentage holding.price_change,
                             precision: 2 %>
  </td>
  <td class="p-1">
    <%= number_to_currency holding.value.round(2) %>
    <%= holding.amount.round 5 %>
  </td>
  <td class="p-1">
    <%= number_to_percentage holding.proportion,
                             precision: 2 %>
  </td>
  <td class="p-1">
    <%= link_to 'Manage', [:edit, holding] %>
  </td>
</tr>