<%= link_to 'Back', [:portfolios] %>

<section>
  <h1>New Portfolio</h1>
  
  <%= form_with model: @portfolio do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.submit %>
  <% end %>
</section>