
<section>
  <div class="my-3">
    <div class="flex flex-row justify-between items-center">
      <h1><%= @portfolio.name %></h1>
      <%= link_to 'Back',
                  portfolios_path,
                  class: 'btn-secondary' %>
    </div>
    <h2>
      Total Balance: <span class="font-bold text-green-800"><%= number_to_currency @portfolio.total_balance %></span>
    </h2>
  </div>
  
  
  <div id="buttons"
       class="my-6">
    <%= link_to 'Manage', 
                [:edit, @portfolio],
                class: 'btn-primary' %>
    <%= link_to 'New Holding', 
                [:new, @portfolio, :holding],
                class: 'btn-primary' %>
  </div>
     
  <%= render partial: 'shared/table_header' %>
  
  <hr>
    
  <div id="table-body">
    <%= render @holdings %>
  </div>
</section>