<%= link_to 'Back', 
            portfolios_path,
            class: 'btn-primary' %>

<section>
  <div class="my-3">
    <h1 class="text-4xl font-semibold">
      <%= @portfolio.name %>
    </h1>
    <h2 class="text-lg font-lg">
      Total Balance: <span class="font-semibold text-green-800"><%= number_to_currency @portfolio.total_balance %></span>
    </h2>
  </div>
  
  
  <div class="">
    <%= link_to 'Manage', 
                [:edit, @portfolio],
                class: 'btn-primary' %>
    <%= link_to 'New Holding', 
                [:new, @portfolio, :holding],
                class: 'btn-primary' %>
  </div>
  
  <hr class="my-3">
   
  <div id="table-header" 
       class="grid grid-cols-3 mb-2">
    <div class="text-sm">Asset</div>
    <div class="text-sm">Balance</div>
    <div class="text-sm">Proportion</div>
  </div>
  
  <hr>
    
  <div id="table-body">
    <%= render @holdings %>
  </div>
</section>