<%= link_to 'Back', 
            portfolios_path,
            class: 'btn-primary' %>

<section>
  <div class="my-3">
    <h1 class="text-4xl font-semibold">
      <%= @portfolio.name %>
    </h1>
    <h2 class="text-xl">
      Total Balance: <span class="font-bold text-green-800"><%= number_to_currency @portfolio.total_balance %></span>
    </h2>
  </div>
  
  
  <div id="buttons"
       class="my-6">
    <%= link_to 'Manage', 
                [:edit, @portfolio],
                class: 'btn-primary' %>
    <%= link_to 'New Holding', 
                [:new, @portfolio, :holding],
                class: 'btn-primary' %>
  </div>
     
  <div id="table-header" 
       class="grid grid-cols-5 mt-7 mb-3">
    <div class="text-sm col-span-2">Asset</div>
    <div class="text-sm col-span-2 ps-6">Balance</div>
    <div class="text-sm">Proportion</div>
  </div>
  
  <hr>
    
  <div id="table-body">
    <%= render @holdings %>
  </div>
</section>