<section>
  <div>
    <%= link_to 'New Holding', new_portfolio_holding_path(@portfolio) %>
  </div>
  
  <h1><%= @portfolio.name %></h1>
  
  <table>
    <thead>
      <trow>
        <th>Asset</th>
        <th>Amount</th>
        <th>Rate</th>
        <th>USD</th>
      </trow>
    </thead>
    <tbody>
      <% @holdings.each do |holding| %>
        <trow>
          <td><%= holding.ticker %></td>
          <td><%= holding.amount %></td>
          <td><%= holding.rate.round 2 %></td>
          <td><%= holding.value.round 2 %></td>
        </trow>
      <% end %>
    </tbody>
  </table>
</section>