<%= link_to 'Back', portfolios_path %>

<section>
  <div class="header">
    <h1><%= @portfolio.name %></h1>
    <%= link_to 'Manage', [:edit, @portfolio] %>
  </div>
  
  <h3>
    Total Balance: <%= number_to_currency @portfolio.total_balance %>
  </h3>
  
  <div>
    <%= link_to 'New Holding', new_portfolio_holding_path(@portfolio) %>
  </div>
  
  <table class="table-auto">
    <thead>
      <trow>
        <th class="">Asset</th>
        <th class="">Balance</th>
        <th class="">Proportion</th>
        <th class=""></th>
      </trow>
    </thead>
    <tbody>
      <%= render @holdings %>
    </tbody>
  </table>
</section>