<!DOCTYPE html>
<html>
  <head>
    <title>CryptoTracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="container text-slate-800 bg-slate-100">

    <%= render "layouts/navbar" %>
    
    <div>
      <% if flash[:notice] %>
        <%= flash[:notice] %>
      <% elsif flash[:alert] %>
        <%= flash[:alert] %>
      <% end %>
    </div>
    
    <div class="mx-auto p-2 mt-9">
      <%= yield %>
    </div>
  </body>
</html>
